@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato:ital,wght@0,700;0,900;1,400;1,700;1,900&family=Nunito+Sans:wght@300;400;600;700;800;900&family=Open+Sans&family=Oswald:wght@300;700&family=Poppins&family=Roboto:wght@400;700;900&display=swap');

:root{
    --primary-color:rgb(55, 40, 101);
    --header-color:rgb(53, 50, 82);
    --text-color:rgb(246, 249, 254);
    --clear-color:rgb(255, 255, 255);

}
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--text-color);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height:20vh;
    
    
    
}
.nav-links{
    display:flex;
    justify-content: space-around;
    width:60%;

}
.nav-links li{
    list-style: none;
}
.nav-links a {
    color:rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: .9rem;
}
.nav-links a:hover {
    border: 2px solid #000;
    background-color: transparent;
    color: #fff;
  }

/* burger */
.burger{
    display:none;
    cursor:pointer;
}
.burger div{
    width:25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin:5px;
    transition: all 0.3s ease;
}

@media (max-width:1030px){
    .nav-links{
        width:70%;
    }
}

@media (max-width:800px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position:absolute;
        right:0px;
        height:80vh;
        top:20vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        width:50%;
        transform:translateX(100%);
        transition:transform 0.5s ease-in ;
        text-transform: capitalize;
        text-decoration: underline;
        cursor: pointer;
    }
    .nav-links li {
        opacity:0;
    }
    .burger{
        display:block;
    }
    
} 

.nav-active{
    transform: translateX(0%);

}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to{
        opacity:1;
        transform:translateX(0px);
    }
}

