/* button */
.btn{
    /* color: white; */
  background-color: var(--primary-color);
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 0.7rem 0.9rem;
  font-size: 1.1rem;
  text-decoration: none;
  margin-top: 10px;

}
.btn:hover {
    border: 2px solid #000;
    background-color: transparent;
    color: #0000;
  }
  .btn-text{
      text-decoration: underline;
  }


  /* form-item */
  .form-item{
      display: inline-block;
      justify-content: center;
      padding:1em;
      margin-top:1.3rem; 
     
    }
    .form-input{
        width:32.5vw;
        height:5.5vh;
    }
    .btn-form{
        color:#ffff;
        background-color: var(--primary-color);
        padding:0.65rem 0.85rem;
        
    }
@media (max-width:40em){
.form-input{
    display: inline-table;
    width:70.5vw;
    justify-self: center;
    text-align: center;

    }
.btn-form{
    display:inline-table;
    justify-content:center;
    margin-left: 1rem;
    text-align: center;
    width:70.5vw;
}
}
/* hero-section */

.hero-section {
    max-width: 750px;
    margin: 2rem;
    width:90%;
    /* padding:1.5rem;  */
}
.hero-section  h1{
    font-size: 2.9rem;
    font-weight: 700;
    color:var(--header-color);
}
.hero-section .text{
   line-height: 1.9rem;
   /* margin-top:.1rem; */
   color: var(--header-color);

}
@media (max-width:40em){
    .hero-section{
        padding:0;
    }
    .hero-section h1{
        text-align: center;
        font-size: 2.5rem;
    }
}


/* span-section */
 .span{
    background-color: var(--primary-color);
    border-radius: 1.9rem;
    padding: .5rem;
    color:#ffff;
    text-decoration: none;
    max-width:70%;
    width:80%;  
    margin-bottom: .9rem;
    text-align: center auto;

}
@media (max-width:40em){
    .span{
        border-radius: 8.9rem;
        padding:.8rem;
        margin-left: 3rem;
        margin-bottom: .5rem;
        text-align: center;
       
    }
}
/* image */
.left-image{
    margin-left: 49.5em;
    position: absolute;
    bottom:2.5em;
}
@media (max-width:900px){
    .left-image{
        display: none;
    }
}

/* sites-section */
.apps{
    display:inline-block;
    margin-left: 2.5rem;
    max-width: 520px;
    width:95%;
    justify-content: center;
}
/* .apps-header{ */
    /* margin-bottom:0.6rem; */
    /* margin-left: 1rem; */
/* } */
.apps-links{
    display: flex;
    list-style: none;
    text-overflow: clip;
}
.apps-links li{
    list-style-type: none;
}
.apps-links a{
    margin:.1em;
}